<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.innowireless.web.mapper.UserMapper">

    <select id='getUserForAuthentication' resultType="CaseInsensitiveMap">
        SELECT user_id,
               password,
               user_name
          FROM ${schema-name}tm_user
         WHERE user_id = #{userId}
           AND user_state = 'A'
    </select>

    <select id="getUserRoles" resultType="CaseInsensitiveMap">
        SELECT role_id
          FROM ${schema-name}tm_user_role
         WHERE user_id = #{userId}
    </select>
</mapper>
